<?xml version="1.0"?>
<configuration>
	<appSettings>
    <add key="CloudStorateAccountConnectionString" value="UseDevelopmentStorage=true"/>
		<add key="Cloud Diagnostics Storage Account Name" value="neo4jdiversifytest"/>
		<add key="Cloud Diagnostics Storage Account Key" value="pBXWKxrYHY3Him9xmmMchaGPCjTgQnhoPLHnWunI0UkB2xPNyhdMppRFqwCALTvBI7LTKYKhgHQT1Kk/sfZTiw=="/>
		<add key="Role Name" value="Neo4jServerHost"/>
		<add key="Role Instance Name" value="Neo4jServerHost_IN_0"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
